.portal-rastreabilidade{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;

    background-image: url('https://i.imgur.com/oKDnE5W.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.background-corte{    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-image: url('https://i.imgur.com/2ImRW7D.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    
    
}

.home-margin-left{
    flex:1;
    
}
.home-inner{
    flex:10;
    
      
}
.titulo-container{
    transform: translateY(-100%);  
}
.titulo-container > h1 {
    color: rgb(196, 60, 60);
    font-size: calc(15px + 2vw );
    
    margin-top: 30vh;
    font-weight: 800;
    font-style: italic;

    
}
.titulo-container > h2 {
    color: white;
    font-size: calc(20px + 5vw );
    
    margin:0;
    font-weight: 800;
    transform: translateY(-20%);
}

.home-margin-right{
    flex:1;
    
}

@media (max-width : 700px){ 
    .titulo-container > h1 {       
        margin-top: 27vh;  
        
    }
}

@media (max-width : 450px){ 
    .titulo-container > h1 {       
        margin-top: 25vh;  
        
    }
}