
#protocol-form{
    display: flex;
    flex: 1;    
}
#protocol-form-container{
    display: none;
}
.portal-rastreabilidade{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;

    background-image: url('https://i.imgur.com/9LbIBiPl.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
} 
.logo-portal{
    position: absolute;
    top:5%;
    left: 8%;
    transform: translate(-50%, -50%);
    font-size: calc(2px + 1vw);
}
.logo-portal > h1{
    color: rgb(196, 60, 60);
    font-weight: 800;
    font-style: italic;
}
.logo-portal > h2{    
    font-weight: 800;
}

.content{    
    display: flex;    
    height: 90vh;    
}  
.protocol-form-margin-left{
    flex:1
}
.protocol-form-inner{
    display: flex;
    flex: 4;
    height: 100%;
    align-items: center;
    justify-content: center;
        
}

.protocol-form-margin-right{
    flex:1
}

.form{
    display:flex;
    flex:1;
    flex-direction: column;
    background: #f7f7f7;
    height: 80%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    border-width: 2px 0 0 0;
    border-color: #0a780e;
    border-style: solid;

    box-shadow: 0 0 10px #000;    
}

select{
    background: #fff;
    background: url('../src/icons/seta-down-black.png') no-repeat right #fff;
    background-size: 20px 20px;
    background-position-x: 95%; 
    line-height: 1;
    padding: 5px;
    font-size: calc(10px + 1vw);
    color: #aaa;
    font-weight: 900;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ddd;
    height: 34px;
    -webkit-appearance: none;
}

    /* bug option background color */
/* select:hover{
    background: #00b4f5;
    background: url('../src/icons/seta-down-white.png') no-repeat right #00b4f5; 
    background-size: 20px 20px;
    background-position-x: 95%;
    color: white;
} */

input[type=text], input[type=date]{   
    border-style: none;
    box-shadow: 0 0 2px #000;    
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    height: 4vh; 
    
}

/* input[type=text]:focus{
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    height: calc(2px + 4vh);
    border-color: #00b4f5;   
} */


.form-container{
    display: flex;
    flex:1;
    flex-direction: column;
    width: 100%;
    
    margin-top: 1vh;
    
    justify-content: space-between;
    font-size: calc(20px + 1vw)
}


.form-caixa-container{
    display: flex;    
    box-shadow: 0 2px 2px #0a780e;
    padding: 10px;
    padding-bottom: 4vh;
}
.caixa-container{
    display: flex;    
    flex-direction: column;
    width: 40%;
    
}
label{
    margin-bottom: 2vh;
    font-size: calc(10px + 1vw) ;
}
.form-date-container{
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 2px #0a780e;
    padding-bottom: 4vh;      
}
.date-container{
    display: flex;    
    flex-direction: column;
    width: 30%; 
    margin-right: calc(10px + 1vw); 
}

.form-text-container{
    display: flex;
    padding: 10px; 
    justify-content: space-between;        
}

.text-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.form-submit-container{
    display: flex;   
    justify-content: center;    
    transform: translateY(50%);
}
.btn-submit{
    padding: 1vh 4vw;
    border-radius: 15px;
    border-style: none;
    background: #0a780e;
    color:white;
    font-size: calc(10px + 1vw);
    font-weight: 900;

    transition: all 0.2s;
}
.btn-submit:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-submit:hover{
    cursor: pointer; 
}

.link-merlion{
    position: absolute;
    bottom: 2%;
    left: 3%;
}
.link-merlion:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); 
}
.text-merlion{
    font-size: calc(8px + 1vw);
    color:#000;
    
}

@media (max-width : 800px){ 
    .logo-portal{
        display: none;
    }
    .portal-rastreabilidade{ 
        background-repeat: space; 
    } 
    .form{        
        height: auto;           
    }
    .form-caixa-wrap{
        display: flex;        
        flex-direction: row;       
    }
    .form-caixa-container{        
        flex:1; 
        box-shadow: 0 2px 0 #0a780e;      
    }
    .caixa-container{        
        width: 100%;        
    }    
    .form-date-container{
        
        justify-content: center;
        padding: 10px;
        
        padding-bottom: 10px;      
    }
    .date-container{
        
        width: 50%; 
        margin-right: calc(5px + 1vw); 
    }
    .form-text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;        
    } 
    .text-container{
        text-align: center;
        width: 80%;
        margin-top:10px;
    } 
}

