html, body,div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,span {
    margin: 0;
    padding: 0;
    border: 0; 
    font-family: 'Muli', sans-serif;    
}

/* html,body{
  overflow:hidden;  
} */

h1,h2{
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    cursor: pointer; 
    text-decoration: none; /* no underline */
    color:inherit;       
}
a:visited{
    color: inherit;}




/* HEADER */

.header{
    z-index: 2;
    display: flex;   
    height: 10vh;    
}

.header-margin-left{
    flex:1;
    
}
.header-content{
    display: flex;
    flex:4;
    align-items: center;
    justify-content: center;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    max-width: 700px;
    width: 100%;    
    height: 100%;

    justify-content: space-around;
    align-items: center;

    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style:none;

    
    
}
.nav-link{    
    height: 100%;
    width: 100%; 
    padding: 0 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;     
    background: #f7f7f7  
}
.nav-item{
    height: 100%;
    width: 100%;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    
    
}
.nav-item > p {
    font-size: calc(10px + 1vw);
}
.cadastro{
    background: #0a780e;
    
    font-weight: 700;  
}
.nav-item-casdastro{
    color:white; 
}
.nav-item-cadastro:visited{
    color:white; 
}
.nav-item >p{
    display:flex;
    flex-direction: row;
    white-space: nowrap;
}

.header-margin-right{
    flex:1;    

}

#home{
    display: flex;
    flex: 1;    
}
    /* CONTENT  */

.content{    
    display: flex;    
    height: 75vh;    
}

    /* FOOTER  */

.footer{  
    height: 15vh;      
    z-index: 2;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    
   
    
}

.footer-margin-left{
    flex:1;    
   
}
.footer-inner{    
    flex:3;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    max-width: 350px;
    min-width: 100px; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.footerleft{ 
    
    flex:1;
    padding:2vh 1vw 10px 1vw;
    background: #f7f7f7;
    border-radius: 20px 20px 0 0;    

}
.footerleft-texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(5px + 1vw);
    margin-bottom: 10px;
}
.foooterleft-img-content{
    display: flex;
    justify-content: center;
}

/* .footerright{
        
    flex:1;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    padding: 2vh 1vw 10px 1vw;

    background: #ddd;
    background: rgba(221, 221, 221, 0.705);
    background: #dddddda1;

    border-radius: 0 20px 0 0
}

.footer-margin-right{
    flex:1;    
} */

.footer-margin-right{
    flex:1;    
   
}


@media (max-width : 450px){ 
    .nav-item-casdastro >p >span{
        display:none;
    }
}

@media (max-height : 450px){ 
    .background-corte{
        display: none;       
    }
    .header{        
        flex:25;            
    }
    .footer-img{
        display:none;
    }

}

